* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html {
    font-family: 'Roboto', sans-serif;
}

.d-flex {
    display: flex;
}

.content-center {
    justify-content: center;
}

.content-ev {
    justify-content: space-evenly;
}

.align-center {
    align-items: center;
}

ul {
    list-style: none;
}

.mr-20 {
    margin-right: 20px;
}
.ml-20 {
    margin-left: 20px;
}


.inline-block100{
    display: inline-block;
    width: 100px;
}

.container {
    display: flex;
}

nav {
    display: flex;
    height: 60px;
    /* background-color: aquamarine; */
}

.nav-left {
    width: 300px;
    /* background-color: darkred; */
}

.nav-menu {
    margin-right: 20px;
}

.yt-logo-container {
    position: relative;
    font-size: 9px;
}

.it {
    position: absolute;
    top: -5px;
}

.yt-logo {
    width: 100px;
}

.nav-center {
    width: calc(100% - 600px);
    /* background-color: burlywood; */
}

.search {
    width: 40%;
}

.searchbar {
    border: solid 1px darkgrey;
    border-radius:  50px 0 0 50px;
    height: 40px;
    width: 90%;
    padding-left: 8px;

}

.search-btn {
    /* border: 1px solid darkgray; */
    background-color: darkgray;
    border-radius: 0 50px 50px 0;
    width: 10%;
}

.microphone {
    margin-left: 10px;
    background: lightgray;
    padding: 10px;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  
}

.nav-right {
    width: 300px;
    /* background-color: chartreuse; */
    justify-content: end;
}

.list-user {
    width: 50%;
    justify-content: space-around;
}


.container {
    width: 100%;
    height: calc(100vh - 60px);
    /* background-color: cadetblue; */
}

.left-content {
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    /* background-color: blueviolet; */
}

.home-buttons {
    height: 150px;
    border-bottom: 1px solid darkgray;
}

.home-buttons ul,
.raccolta-buttons ul,
.iscrizioni-buttons ul,
.esplora-buttons ul
 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.home-buttons ul li,
.raccolta-buttons ul li,
.iscrizioni-buttons ul li,
.esplora-buttons ul li {
    margin-bottom: 15px;
}

.raccolta-buttons {
    height: 300px;
    width: 100%;
    border-bottom: 1px solid darkgray;
}

.iscrizioni-buttons {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid darkgray;
}

.esplora-buttons {
    width: 100%;
    height: 300px;
    border-bottom: 1px solid darkgray;
}


/* right */

.right-content {
    width: calc(100% - 300px);
}

.tag-bar {
    height: 50px;
    width: 100%;
    /* background-color: blueviolet; */
}

.tag-bar ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.tag-bar ul li {
    margin-right: 10px;
    padding: 9px;
    background-color: darkgray;
    border-radius: 10px;
}

.container-dx {
    height: calc(100vh - 110px);
    width: 100%;
    overflow-y: scroll;
    padding: 0 50px 0 50px;

}

.video-content {
    /* background-color: darkcyan; */
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid darkgrey;


}

.video-card {
    height: 200px;
    width: calc(100% / 4 - 10px);
    margin-left: 10px;
    margin-bottom: 80px;
}

.video-card:hover {
    scale: 1.2;
    
}

.video-card img ,
.short-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.icon-video i {
    background-color: lightgray;
    padding: 10px;
    border-radius: 50%;
}

.text-video {
    width: 80%;

}

.short-content {
    display: flex;
    padding: 30px 0 30px 0;
    border-bottom: 2px solid darkgrey;
}

.short-card {
    height: 400px;
    width: calc(90% / 9 - 20px);
    margin-right: 20px;
}

.short-img {
    height: 70%;
}

.short-upper {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.visual {
    padding: 0 10px;
}